<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>

<body>
    
    <h1>Produtos</h1>

    <table border="1">

    <tr>
        <th>Nome</th>
        <th>Categoria</th>
        <th>Preço</th>
        <th>Estoque</th>
    </tr>
    
    <tr>
        
        <td>
            {% for prod in produtos %}
        
            {{produtos.nome}}

            {% endfor %}
        </td>

        <td>
            {% for categ in categorias %}

            {{categ.departamentos}}

            {% endfor %}
        </td>


        <td>
            {% for pre in produtos %}

            {{produtos.preco}}
        
            {% endfor %}
        </td>

        <td>
            {% for est in produtos %}
      
            {{produtos.estoque}}
        
            {% endfor %}
        </td>


    </tr>


    </table>

</body>

</html>